{% extends "base.html" %}
{% load ex_tags %}
{% block content %}
	<div class="inline">
		<h1>Sales Report</h1>
        <button onclick="window.print()"><i class="fa fa-print"></i></button>
        <form method="post">
			{% csrf_token %}
        	<button type="submit" name="export_data"><i class="fa fa-download"></i></button>
		</form>
    </div>
	{% for product_line in product_lines %}
		<h3>{{ product_line }}</h3>
		{% for sku in product_line.sku_set.all %}
			{{ sku }} <a href="{% url 'sku_drilldown' sku.pk %}">Detailed Report</a>
			<div class="table", style="overflow-x:auto;">
				{% load render_table from django_tables2 %}
				{% load bootstrap3 %}
				{% render_table tables|lookup:sku %}
				{% if tables|lookup:sku|rows %}
					{% render_table totals|lookup:sku %}
				{% else %}
				<table><tr><td>loading...</td></tr></table>
				{% endif %}
			</div>
			<br>
		{% endfor %}
	{% endfor %}
{% endblock %}