{% extends "base.html" %}
{% block content %}
	<h1>Filter SKUs for Mapping:</h1>
	{% include "data/filters.html" %}
	<br>
	<div class="table" style="overflow-x:auto;">
		{% load render_table from django_tables2 %}
		{% load bootstrap3 %}
		{% render_table input_table %}
	</div>
	<form class="form-inline" method="get">
		{% if queryset.all|length > 25 %}
			{% if paginated %}
				<button type="submit" name="remove_pagination">View All Records</button>
			{% else %}
				<button type="submit" name="add_pagination">Paged View</button>
			{% endif %}
		{% endif %}
	</form>
	<br>
	{% if selected_table.rows %}
		<form class="form-inline" action="{% url 'edit_mapping' %}" method="post">
			{% csrf_token %}
			<select name="mfg-line-op">
				<option value="add">Add</option>
				<option value="rem">Remove</option>
			</select>
			<select name="mfg-line-select">
				<option value="none">-----</option>
				{% for line in mfg_lines %}
					<option value="{{ line.pk }}">{{ line }}</option>
				{% endfor %}
			</select>
			<button type="submit" name="gen_report">Map SKUs</button>
		</form>
		<div class="table" style="overflow-x:auto;">
			{% render_table selected_table %}
		</div>
	{% endif %}

{% endblock content %}