{% extends "base.html" %}
{% block content %}
	<div class="inline">
		<h1>{{ ingredient }}</h1>
		{% if user.is_staff %}
			<a class="btn" href="{% url 'admin:sku_manage_ingredient_change' ingredient.pk %}"><i class="fa fa-edit"></i></a>
		{% endif %}
	</div>
	<p>General Information:</p>
	<ul>
		<li>Ingredient Name: {{ ingredient.name }}</li>
		<li>Ingredient#: {{ ingredient.number }}</li>
		<li>Package Size: {{ ingredient.package_size }} {{ ingredient.package_size_units }}</li>
		<li>Package Cost: ${{ ingredient.cost }} (USD)</li>
		<li>Vendor Information: {{ ingredient.vendor_info }}</li>
		<li>Comment: {{ ingredient.comment }}</li>
	</ul>
	<p>{{ ingredient.ingredientqty_set.all|length }} Formulas:</p>
	<ul>
		{% for choice in ingredient.ingredientqty_set.all %}
			<li><a class="detail_list" href="{% url 'formula_detail' choice.formula.pk %}"> {{ choice.formula }}</a> - {{ choice.quantity }} {{ choice.quantity_units }}</li>
		{% endfor %}
	</ul>
	<p>SKUs:</p>
	<ul>
		{% for ingq in ingredient.ingredientqty_set.all %}
			{% for sku in ingq.formula.sku_set.all %}
				<li><a class="detail_list" href="{% url 'sku_detail' sku.pk %}"> {{ sku }}</a></li>
			{% endfor %}
		{% endfor %}
	</ul>
{% endblock content %}

