<!DOCTYPE html>
<html>

	{% load staticfiles %}
        {% load static %}
	<head>
                <meta charset="utf-8">
                <title>HypoMeals</title>
                <link rel="stylesheet" type="text/css" href="{% static "sku_manage/detail.css" %}" />
        </head>
<body>
<h1>{{ ingredient }}</h1>
<p>General Information:</p>
<ul>
	<li>Ingredient Name: {{ ingredient.name }}</li>
	<li>Ingredient#: {{ ingredient.number }}</li>
	<li>Package Size: {{ ingredient.package_size }}</li>
	<li>Package Cost: {{ ingredient.cost }}</li>
	<li>Vendor Information: {{ ingredient.vendor_info }}</li>
	<li>Comment: {{ ingredient.comment }}</li>
</ul>
<p>{{ ingredient.ingredientqty_set.all|length }} SKUs:</p>
<ul>
	{% for choice in ingredient.ingredientqty_set.all %}
		<li><a class="listy" href="{% url 'sku_detail' choice.sku.pk %}"> {{ choice.sku }}</a> - {{ choice.quantity }} packages</li>
	{% endfor %}
</ul>
</body>
</html>
