{% extends "sku_manage/base.html" %}
{% block content %}
    <h1>{{ manufacturingline }}</h1>
    <p>General Information:</p>
    <ul>
        <li>Name: {{ manufacturingline.name }}</li>
        <li>Shortname: {{ manufacturingline.shortname }}</li>
    </ul>
    <p>{{ manufacturingline.skumfgline_set.all|length }} SKUs:</p>
    <ul>
    	{% for choice in manufacturingline.skumfgline_set.all %}
        	<li><a class="detail_list" href="{% url 'sku_detail' choice.sku.pk %}"> {{ choice.sku }} (SKU# = {{ choice.sku.sku_num }})</a></li>
    	{% endfor %}
    </ul>
{% endblock content %}

