{% extends "base.html" %}
{% block content %}
    <div class="inline">
        <h1>{{ manufacturingline }}</h1>
        {% if perms.sku_manage.change_manufacturingline %}
            <a class="btn" href="{% url 'admin:sku_manage_manufacturingline_change' manufacturingline.pk %}"><i class="fa fa-pencil"></i></a>
        {% endif %}
        {% if perms.sku_manage.delete_manufacturingline %}
            <a class="btn" href="{% url 'admin:sku_manage_manufacturingline_delete' manufacturingline.pk %}"><i class="fa fa-trash"></i></a>
        {% endif %}
    </div>
    <p>General Information:</p>
    <ul>
        <li>Name: {{ manufacturingline.name }}</li>
        <li>Shortname: {{ manufacturingline.shortname }}</li>
    </ul>
    <p>{{ manufacturingline.skumfgline_set.all|length }} SKUs:</p>
    <ul>
    	{% for choice in manufacturingline.skumfgline_set.all %}
        	<li><a class="detail_list" href="{% url 'sku_detail' choice.sku.pk %}"> {{ choice.sku }}</a></li>
    	{% endfor %}
    </ul>
{% endblock content %}

