{% extends "base.html" %}
{% block content %}
	<div class="inline">
		<h1>{{ sku }}</h1>
		{% if user.is_staff %}
			<a class="btn" href="{% url 'admin:sku_manage_sku_change' sku.pk %}"><i class="fa fa-pencil"></i></a>
			<a class="btn" href="{% url 'admin:sku_manage_sku_delete' sku.pk %}"><i class="fa fa-trash"></i></a>
		{% endif %}
	</div>
	<p>General Information:</p>
	<ul>
		<li>Name: {{ sku.name }}</li>
		<li>SKU#: {{ sku.sku_num }}</li>
		<li>Case UPC: {{ sku.case_upc }}</li>
		<li>Unit UPC: {{ sku.unit_upc }}</li>
		<li>Unit Size: {{ sku.unit_size }}</li>
		<li>Units Per Case: {{ sku.units_per_case }}</li>
		<li>Product Line: <a class="detail_list" href="{% url 'product_line_detail' sku.product_line.pk %}">{{ sku.product_line }}</a></li>
		<li>Formula: <a class="detail_list" href="{% url 'formula_detail' sku.formula.pk %}">{{ sku.formula }}</a></li>
		<li>Formula Scale: {{ sku.formula_scale }}</li>
		<li>Manufacturing Rate: {{ sku.mfg_rate }}</li>
		<li>Manufacturing Setup Cost: ${{ sku.mfg_setup_cost }} (USD)</li>
		<li>Manufacturing Run Cost: ${{ sku.mfg_run_cost }} per case (USD)</li>
		<li>Comment: {{ sku.comment }}</li>
	</ul>
	<a class="detail_list" href="{% url 'sku_drilldown' sku.pk %}">SKU Sales Report</a>
	<p>{{ sku.skumfgline_set.all|length }} Manufacturing Lines:</p>
	<ul>
		{% for choice in sku.skumfgline_set.all %}
	    	<li> <a class="detail_list" href="{% url 'mfg_line_detail' choice.mfg_line.pk %}">{{ choice.mfg_line }}</a></li>
		{% endfor %}
	</ul>
	<p>Formula - {{ sku.formula.ingredientqty_set.all|length }} Ingredients:</p>
	<ul>
		{% for choice in sku.formula.ingredientqty_set.all %}
	    	<li> <a class="detail_list" href="{% url 'ingredient_detail' choice.ingredient.pk %}">{{ choice.ingredient.name }}</a> - {{ choice.quantity }} {{ choice.quantity_units }}</li>
		{% endfor %}
	</ul>
{% endblock content %}

