<!DOCTYPE html>
<html>

        {% load staticfiles %}
        {% load static %}
        <head>
                <meta charset="utf-8">
                <title>HypoMeals</title>
                <link rel="stylesheet" type="text/css" href="{% static "sku_manage/detail.css" %}" />

        </head>
<body>
<h1>{{ sku }}</h1>
<p>General Information:</p>
<ul>
	<li>Name: {{ sku.name }}</li>
	<li>SKU#: {{ sku.sku_num }}</li>
	<li>Case UPC: {{ sku.get_case_upc }}</li>
	<li>Unit UPC: {{ sku.get_unit_upc }}</li>
	<li>Unit Size: {{ sku.unit_size }}</li>
	<li>Units Per Case: {{ sku.units_per_case }}</li>
	<li>Product Line: {{ sku.product_line }}</li>
	<li>Comment: {{ sku.comment }}</li>
</ul>
<p>{{ sku.ingredientqty_set.all|length }} Ingredients:</p>
<ul>
	{% for choice in sku.ingredientqty_set.all %}
    	<li> <a class="listy" href="{% url 'ingredient_detail' choice.ingredient.pk %}">{{ choice.ingredient.name }}</a> - {{ choice.get_qty }} packages</li>
	{% endfor %}
</ul>
</body>
</html>
