body {
  animation-name: bkgd-swap;
  animation-duration: 2s;
}

@keyframes bkgd-swap {
  from {
    color: black;
    background-color: white;
    background-image: none;
  }
  to {
    color: #d1aa62;
    background-color: darkslategray;
    background-image: url("https://www.zelda.com/assets/img/common/pattern-triforce-2x.png");
  }
}

.topnav {
  animation-name: disappear;
  animation-duration: 1s;
}

@keyframes disappear {
  from {
    margin-top: 0;
  }
  to {
      margin-top: -49px;
  }
}

.main-image {
  animation-name: image-swap;
  animation-duration: 2s;
}

@keyframes image-swap {
  from {
    background-image: url("/static/home/logo.jpg");
  }
  to {
    background-image: url("https://gamepedia.cursecdn.com/zelda_gamepedia_en/thumb/7/70/ALBW_Triforce_Artwork.png/300px-ALBW_Triforce_Artwork.png?version=2631c5d3bf85e6a24f1c78427b098815");
  }
}

.menu-buttons a {
  animation-name: mba-swap;
  animation-duration: 2s;
}

@keyframes mba-swap {
  from {
    background-color: #93baf9;
    color: black;
    padding: 14px 25px;
  }
  to {
    background-color: #203535;
    color: #d1aa62;
    margin: 2px 5px 2px 5px;
    padding: 12px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}

.menu-buttons .if {
  animation-name: mbaif-swap;
  animation-duration: 2s
}

@keyframes mbaif-swap {
  from {
    border: 2px solid #c4e8ff;
    background-color: white;
    color: black;
  }
  to {
    border: 2px solid #254040;
    background-color: #d1aa62;
    color: #203535;
  }
}
