body {
  background-color: white;
  text-align: left;
  font-family: verdana;
	font-size: 14pt;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 4px;
	margin-bottom: 4px;
}

table {
  width: 100%;
	border-collapse: collapse;
}

tr:hover {
	background-color: #a7d5f2;
}

th {
	background-color: black;
	color: white;
}

tr:nth-child(even) {
	background-color: #c4e8ff;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

text {
	padding: 10px 10px;
	color: white;
}

.ret {
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

.ing {
	color: #443ee0;
	text-decoration: underline;
	font-weight: bold;
}

a {
	color: white;
	text-decoration: none;
}

.pagination {
	background-color: black;
}

.listy {
	color: #443ee0;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}

.retlink {
	color: blue;
	text-decoration: underline;
	font-weight: bold;
}

.bbut {
	width: 200px;
	padding: 12px 8px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #c4e8ff;
        border-radius: 4px;
        background-color: #5dd8f7;
        color: black;
	font-weight: bold;
	
}

/* Style the form - display items horizontally */
.form-inline { 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 35px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 5px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 300px;
}

.form-inline select {
  vertical-align: middle;
  margin: 5px 5px 5px 0;
  border: 1px solid #ddd;
  font-size: 12px;
  height: 34px;
  padding: 5px;
}

.form-inline button {
  margin: 5px 5px 5px 0;
  padding: 10px 12px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.form-inline button:hover {
  background-color: royalblue;
}