body {
        background-color: white;
        text-align: left;
        font-family: verdana;
	font-size: 14pt
}

.listy {
	color: #443ee0;
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}
