body {
        background-color: white;
        text-align: center;
        font-family: verdana;
}

a {
	background-color: #93baf9;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;	
}

a:hover, a:active {
	background-color: #74a4f2;
}

button {
        background-color: #93baf9;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}

.if {
        padding: 12px 8px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #c4e8ff;
        border-radius: 4px;
        background-color: white;
        color: black;
}

.bt {
	background-color: #93baf9;
        color: black;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}

.bt:hover, .bt:active {
        background-color: #74a4f2;
}


