{% extends 'base.html' %}
{% load static %}
{% block content %}
<table style="width:100%">
    <br>
    <div class="menu-buttons">
        <a href="{% url 'simple_upload' %}">Return to Upload</a>
    </div>
    {% for message in messages %}
    <tr>
    	{% if 'first' in message.tags %}
    		<p class="first message">{{ message }}</p>
            <th class="menu-buttons left-align"><a href="{% url 'commit_all_to_database' %}">Commit ALL To Database</a></th>
        {% endif %}
    	{% if 'result' in message.tags %}
            <th><p class="result message">{{ message }}</p></th>
        {% endif %}
        {% if 'conflict' in message.tags %}
            <th><p class="conflict">{{ message }}</p></th>
            <th class="menu-buttons"><a href="{% url 'commit_to_database' forloop.counter %}">Commit To Database</a></th>
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endblock %}