{% load static %}
<head>
        <meta charset="utf-8">
        <title>HypoMeals</title>
    <link rel="stylesheet" type="text/css" href="{% static "sku_manage/search.css" %}">
</head>

<body>
<a href="{% url 'simple_upload' %}">Return to upload page</a>

<table style="width:100%">
    {% for message in messages %}
    <tr>
    	{% if 'first' in message.tags %}
    		<p class="first message">{{ message }}</p>
            <th><a href="{% url 'commit_all_to_database' %}" class="button">Commit ALL To Database</a></th>
        {% endif %}
    	{% if 'result' in message.tags %}
            <th><p class="result message">{{ message }}</p></th>
        {% endif %}
        {% if 'conflict' in message.tags %}
            <th><p class="conflict">{{ message }}</p></th>
            <th><a href="{% url 'commit_to_database' forloop.counter %}" class="button">Commit To Database</a></th>
        {% endif %}
    {% endfor %}
    </tr>
</body>