{% load static %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>{{ count }}</label>
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form>

{% if messages %}
    {% for message in messages %}
    	{% if 'first' in message.tags %}
    		<p class="first message">{{ message }}</p>
            <button type="commit all">Commit ALL To Database</button>
        {% endif %}
    	{% if 'result' in message.tags %}
            <p class="result message">{{ message }}</p>
        {% endif %}
        {% if 'conflict' in message.tags %}
            <p class="conflict">{{ message }}</p>
            <button type="commit{{ forloop.counter }}">Commit Above To Database</button>
        {% endif %}
    {% endfor %}
{% endif %}