<!DOCTYPE html>

<head>
                {% load static %}
                <meta charset="utf-8">
                <title>HypoMeals</title>
                <link rel="stylesheet" type="text/css" href="{% static "manufacturing_goals/data.css" %}" />
</head>

<body>
	<div id="dvContainer">
	<h3>Manufacturing Calculator Results</h3>
	<h4>{{ goal_name }}</h4>
	{% for g in goal_list %}
	<strong>{{ g.sku }}</strong>
	<table class="ingredient_table" style="margin-bottom:10px">
		<!--<tr hidden><th>sku</th><th>ingredient</th><th>quantity</th></tr>-->
		{% for i in g.ingredienttotals %}
			<tr>
				{% for k, v in i.items %}
					<td hidden>{{ g.sku }}</td>
					<td>{{ k }}</td>
					<td>{{ v }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
	{% endfor %}
	</div>
	<a href="#" id="xx" style="text-decoration:none;color:#000;background-color:#ddd;border:1px solid #ccc;padding:8px;">Export to CSV</a>
	<input type="button" value="Print Goal Calculation" id="btnPrint" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
	function exportTableToCSV($table, filename) {
		var $rows = $table.find('tr:has(td),tr:has(th)'),
			tmpColDelim = String.fromCharCode(11),
			tmpRowDelim = String.fromCharCode(0),
			colDelim = '","',
			rowDelim = '"\r\n"',
			csv = '"sku","ingredient","quantity"\r\n"' + $rows.map(function (i, row) {
				var $row = $(row), $cols = $row.find('td,th');
				return $cols.map(function (j, col) {
					var $col = $(col), text = $col.text();
					return text.replace(/"/g, '""');
				}).get().join(tmpColDelim);
			}).get().join(tmpRowDelim).split(tmpRowDelim).join(rowDelim).split(tmpColDelim).join(colDelim) + '"',
			csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);
			console.log(csv);
			if (window.navigator.msSaveBlob){
				window.navigator.msSaveOrOpenBlob(new Blob([csv], {type: "text/plain;charset=utf-8;"}), "csvname.csv");
			}
			else {
				$(this).attr({ 'download': filename, 'href': csvData, 'target': '_blank' });
			}
	}
$("#xx").on('click', function (event) {
	exportTableToCSV.apply(this, [$('.ingredient_table'), '{{ goal_name }}_calculation_export.csv']);
});
</script>
<script type="text/javascript">
	$("body").on("click", '#btnPrint', function(){
		var divContents = $("#dvContainer").html();
		var printWindow = window.open('', '', 'height=400,width=800');
		printWindow.document.write('<html><head><title>{{ goal_name }} Calculation</title></head><body>');
		printWindow.document.write(divContents);
		printWindow.document.write('</body></html>');
		printWindow.document.close();
		printWindow.print();
	});
</script>
</body>
