{% extends "base.html" %}
{% block content %}
	<h1>Edit Manufacturing Goal:</h1>
	<h2>{{ errormsg }}</h2>
	{% include "data/filters.html" %}
	<br>
	
	<form class="inline" method="post">
		{% csrf_token %}
		<button type="submit" name="done" {% if not selected_table.rows %} disabled {% endif %}><i class="fa fa-save"></i></button>	
		<button type="submit" name="delete"><i class="fa fa-trash"></i></button>
	</form>
	<br>
	<div class="row">
		<div class="column">
			<div class="table" style="overflow-x:auto;">
				{% load render_table from django_tables2 %}
				{% load bootstrap3 %}
				{% render_table input_table %}
			</div>
			<form class="form-inline" method="get">
				{% if queryset.all|length > 25 %}
					{% if paginated %}
						<button type="submit" name="remove_pagination">View All Records</button>
					{% else %}
						<button type="submit" name="add_pagination">Paged View</button>
					{% endif %}
				{% endif %}
			</form>
		</div>
		<div class="column">
			<div class="table" style="overflow-x:auto;">
				{% render_table selected_table %}
			</div>
		</div>
	</div>
{% endblock content %}