<!DOCTYPE html>

<head>
                {% load static %}
                <meta charset="utf-8">
                <title>HypoMeals</title>
                <link rel="stylesheet" type="text/css" href="{% static "manufacturing_goals/data.css" %}" />
</head>

<body>
	<h3>Manufacturing Goal Exporter</h3>
	<p>Select a goal to export to CSV</p>
	<form id="goal-choice-form" method="post">
		{% csrf_token %}
		{{ form }}
		<button type="submit" id="submit" name="submit">Select Goal</button>
	</form>
</body>
