{% load static %}
<!DOCTYPE html>

<head>
	<title>Manufacturing Goal</title>
</head>

<body>
	<!-- Formset formatting adapted from example provided by article "Django Inline formsets example: mybook" by Daniel Chen: https://medium.com/@adandan01/django-inline-formsets-example-mybook-420cc4b6225d -->
	<h3>Manufacturing Goal</h3>
	<p>Add SKUs and Case quantities to this goal</p>
	<form method="post">
		{% csrf_token %}
		<table class="table">
		<tr><th>Product Line</th><th>SKU</th><th>Case Quantity</th><!--<th>Delete Row?</th>--></tr>
			{{ formset.management_form }}
			{% for form in formset %}
				<tr class="{% cycle 'row1' 'row2' %} formset_row">
					<td>
						<select class="filter" id="filter-{{ forloop.counter0 }}" onchange="filter({{ forloop.counter0 }})">
						<option value="">------</option>
						{% for p in product_lines %}
						<option value="{{ p }}">{{ p }}</option>
						{% endfor %}
						</select>
					</td>
				{% for field in form.visible_fields %}
					<td>
						{{ field }}
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
		<button type="submit" id="submit" name="submit">Save Goal</button>
	</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!--<script src="{% static 'manufacturing_goals/jquery.formset.js' %}"></script>-->
<script type="text/javascript">
	//$('.formset_row').formset({
	//	addText: 'Add SKU',
	//	deleteText: 'remove',
	//	prefix: 'manufacturingqty_set'
	//});
</script>
<script type="text/javascript">
	function filter(id){
		// console.log(id)
		var e = document.getElementById("filter-"+id);
		// console.log(e.options[e.selectedIndex].value)
		var selected = e.options[e.selectedIndex].value;
		var se = document.getElementById("id_manufacturingqty_set-"+id+"-sku");
		if(selected == ""){
			se.innerHTML = "";
			var opt = document.createElement('option');
			opt.value = "";
			opt.innerHTML = "---------";
			se.appendChild(opt);
			{% for s in sku_list %}
			var opt = document.createElement('option');
			opt.value = {{ s.sku_num }};
			opt.innerHTML = "{{ s }}";
			se.appendChild(opt);
			{% endfor %}
		}
		else {
			se.innerHTML = "";
			var opt = document.createElement('option');
			opt.value = "";
			opt.innerHTML = "---------";
			se.appendChild(opt);
			var product_list = [];
			{% for p in product_lines %}
			product_list.push("{{ p }}");
			{% endfor %}
			var skulist = [];
			var sku_product_lines = [];
			var skunumlist = [];
			{% for s in sku_list %}
			skulist.push("{{ s }}");
			sku_product_lines.push("{{ s.product_line }}");
			skunumlist.push({{ s.sku_num }});
			{% endfor %}
			var i;
			for (i = 0; i < skulist.length; i++){
				if(sku_product_lines[i] == product_list[e.selectedIndex-1]){
					var opt = document.createElement('option');
					opt.value = skunumlist[i];
					opt.innerHTML = skulist[i];
					se.appendChild(opt);
				}
			}
		}
	}
</script>
<script>
	//document.getElementsByClassName("add-row")[0].addEventListener("click", fixFilterFields);
	//function fixFilterFields(){
	//	var filters = document.getElementsByClassName("filter");
	//	var i;
	//	for(i = 0; i < filters.length; i++){
	//		filters[i].id = "filter-"+i;
	//		filters[i].onchange = filter(i);
	//	}
	//}
</script>
</body>
