{% extends "base.html" %}
{% block content %}
	<h1>Sales projection data for {{ sku }} can be seen below:</h1>
	<br>
	<div class="table">
		<table style="width: auto;">
			<tr><th>Time Range</th><th>Cases Sold</th></tr>
			{% for key, value in data_table.items %}
			<tr><td style="padding-right: 20px;">{{ key }}</td><td>{{ value }}</td></tr>
			{% endfor %}
		</table>
	</div>
	<br>
	<div class="inline">
		<form method="post">
			{% csrf_token %}
			<button type="submit">Autofill Average Value</button>
		</form>
		<a class="btn" href="{% url 'manufqty' %}">Return</a>
	</div>
{% endblock content %}
