
{% if user.is_authenticated %}
{% include "header.html" %}
{% endif %}
{% load staticfiles %}
{% load static %}
{% block styling %}
<link rel="stylesheet" type="text/css" href="{% static "home/help.css" %}" />
{% endblock styling %}
{% block "content" %}
<div class="halp">
        <h1>Help Page</h1>
	<div class="table">
	<ul>
	<li class="gg">In order to sort the data columns, simply click the title of the column. Click it again to reverse the sorting!</li>
	<li class="gg">If the data is not visible, you might not be logged in. If this is the case, the return button leads to the login screen!</li>
	<li class="gg">Users can be added and edited in the site administration panel, but only by a current admin.</li>
	<li class="gg">While all authenticated users are able to view the data, only admin users have the ability to manipulate it.</li>
	<li class="gg">You must be authenticated to visit the manufacturing page. This is because each manufacturing goal is private to every user, and can only be viewed and exported by the user who created it.</li>
	<li class="gg">On the manufacturing page, when selecting SKUs to place in a manufacturing goal, you can also filter those SKUs by product line using the first field in each row of the form.</li>
	<li class="gg">On the manufacturing page, when selecting SKUs to place in a manufacturing goal, you can type in the first letter of a desired SKU name to skip to that letter alphabetically on the list.</li>
	<li class="gg">You can add additional rows to the table to submit as SKUs for the manufacturing goal. Be advised that the maximum number of submittable SKUs for one goal is 1000.</li>
	<li class="gg">If you fill one field on a row in the form, you must fill all of the fields for that row or else the form will not allow submission. HOWEVER, you do not need to fill every row of the form in order to submit the form.</li>
	<li class="gg">Once a goal has been saved, its data can be viewed and exported through the site. A calculation of ingredient package quantity for a given goal can also be generated, viewed, and exported on the site.</li>
	<li class="gg">How to upload files to HypoMeals.com - Must be logged in as an administrator to access the import page.
		<ol>
			<li>Nagivate to https://www.hypomeals.com/importer and click "Choose File".</li>
			<li>Using the file navigator that appears, select the .csv file you wish to upload. (For information on file specifications and formatting, please see the instructions PDF linked on the importer page at the bottom).</li>
			<li>Once you have selected a file, click "Upload".</li>
			<li>You will be redirected to a page that displays the details of the upload. If the upload was successful, a message will inform you how many records were imported, ignored, and in conflict.</li>
			<li>If there are any in conflict, details of the conflict will be displayed along with a "Commit to database" button to override the entry in the database with the one being uploaded. If you don't wish to override anything, simply ignore the conflict and click "Return to upload page". To override all conflicts are once, click "Commit all to database" button.</li>
			<li>If there was an error uploading, the error will be displayed.</li>
		</ol>
	</li>
	<li class="gg">You may ask the virtual assistant about where to find features of the site and be directed to the desired page.</li>
	<li class="gg">In order to add any types of data into the system manually, you need to use the site administration page. This includes the addition and deletion of manufacturing lines.</li>
	<li class="gg">Backups are created on a daily basis and must be restored by a system admin if necessary.</li>
	<li class="gg">Sales report data is updated daily, but can be manually cleared and/or updated when desired by asking the virtual assistant to either "clear sales data" or "scrape sales data."</li>
	</ul>
	</div>
</div>
{% endblock "content" %}
