{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="menu-buttons">
	<br>
	<img id="main-img" src="{% static "home/logo.JPG" %}" alt="Company Logo" width="400" height="250">
    <h1>Welcome to Hypothetical Meals!</h1>
	{% if not user.is_authenticated %}
		{% if invalidlogin %}
			<h2>Invalid Login, Please try Again!</h2>
		{% else %}
			<h2>User Login</h2>
		{% endif %}
		<form action="/authin/" method="post">
			{% csrf_token %}
			<input class="if" type="text" placeholder="Username" name="username" required>
			<input class="if" type="password" placeholder="Password" name="password" required>
			<input class="bt" type="submit" value="Login">
		</form>
		<br>
		<form action="/netlog/" method="get">
			<input class="bt" type="submit" value="NetID Login">
		</form>
	{% else %}
		<form action="/assistant/" method="post">
		{% csrf_token %}
		<p>Speak to our virtual help assistant: </p>
		<input class="if" type="text" placeholder="Inquire here..." name="message" required>
		</form>
		{% if reply %}
		<p class="asst">{{reply}}</p>
		{% endif %}
		<br>
		<a class="btn btn-primary" href="/help">Help</a>

		<br>
		<form action="/scrape" method="get">
			<input class="if" type="text" placeholder="SKU" name="sku" required>
			<input class="if" type="text" placeholder="Year" name="year" required>
			<input class="bt" type="submit" value="Scrape">
		</form>

	{% endif %}
</div>
{% endblock content %}
