{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styling %}
	{% if animate %}
    <link rel="stylesheet" type="text/css" href="{% static "home/cya-init.css" %}" />
	{% endif %}
{% endblock styling %}
{% block content %}
<div class="menu-buttons">
	<br>
	<div class="main-image"></div>
    <h1>Welcome to Hypothetical Meals!</h1>
	{% if not user.is_authenticated %}
		{% if invalidlogin %}
			<h2>Invalid Login, Please try Again!</h2>
		{% else %}
			<h2>User Login</h2>
		{% endif %}
		<form action="/authin/" method="post">
			{% csrf_token %}
			<input class="if" type="text" placeholder="Username" name="username" required>
			<input class="if" type="password" placeholder="Password" name="password" required>
			<input class="bt" type="submit" value="Login">
		</form>
		<br>
		<form action="/netlog/" method="get">
			<input class="bt" type="submit" value="NetID Login">
		</form>
	{% else %}
		<form action="/assistant/" method="post">
		{% csrf_token %}
		<p>Speak to our virtual help assistant: </p>
		<input class="if" type="text" placeholder="Inquire here..." name="message" required>
		</form>
		{% if reply %}
		<div class="asst">
			<a>{{reply}}</a>
		</div>
		{% endif %}
		<br>
		{% if request.session.cya %}
			<a href="/search/">Data</a>
			{% if perms.sku_manage.report_ingredient or perms.sku_manage.report_manufacturingline or perms.sales.report_salesrecord %}
				<a href="/reporting/">Reporting</a>
			{% endif %}
			{% if perms.manufacturing_goals.view_manufacturinggoal %}
				<a href="/manufacturing/">Manufacturing</a>
			{% endif %}
			<br><br>
			{% if perms.auth.add_user or perms.auth.change_user or perms.sku_manage.add_sku or perms.sku_manage.change_skumfgline %}
				{% if perms.auth.add_user %}
					<a href="/admin/">Site Administration</a>
				{% endif %}
				{% if perms.auth.change_user %}
					<a href="/user/">User Roles</a>
				{% endif %}
				{% if perms.sku_manage.add_sku %}
					<a href="/importer/">CSV Data Import</a>
				{% endif %}
				{% if perms.sku_manage.change_skumfgline %}
					<a href="/mfglinemap/">Manufacturing Line Mapping</a>
				{% endif %}
				<br><br>
			{% endif %}
			<a href="/authout/">Log Out</a>
			<br><br>
		{% endif %}
		<a class="btn btn-primary" href="{% url 'help' %}">Help</a>
	{% endif %}
</div>
{% if animate %} 
	<audio autoplay>
      	<source src="{% static 'audio/zelda1.wav' %}" type="audio/wav">
	</audio>
{% endif %}
{% endblock content %}
