
<!-- home/templates/index.html -->
<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>HypoMeals</title>
	<link rel="stylesheet" type="text/css" href="{% static "sku_manage/search.css" %}">
    </head>
    <body>
	<img src="{% static "home/logo.JPG" %}" alt="Company Logo" width="400" height="250">
        <h1>Invalid login, please try again.</h1>
	{% if user.is_authenticated %}
	<a class="btn btn-primary" href="/search">Go To Data</a>
	<br></br>
	{% else %}
	<h2>User Login</h2>
	<form action="/authin">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="text" placeholder="Username" name="username" required>
	<input type="password" placeholder="Password" name="password" required>
	<input type="submit" value="Login">
	</form>
	<br></br>
	{% endif %}
	<a class="btn btn-primary" href="/admin">Admin Login</a>
	<br></br>
	<a class="btn btn-primary" href="/help">Help</a>
	{% if user.is_authenticated %}
	<br></br>
        <form action='/authout'>
                <input type="submit" value="Logout">
        </form>
	{% endif %}
    </body>
</html>
