<!-- sku_manage/templates/ingredient.html -->
<!DOCTYPE html>
<html>
	{% load staticfiles %}
	{% load static %}
	<head>
		<meta charset="utf-8">
        	<title>HypoMeals</title>
        	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        	<link rel="stylesheet" type="text/css" href="{% static "sku_manage/style.css" %}" />
        	{% block styling %}{% endblock styling %}
	</head>
	<body>
		{% if user.is_authenticated %} {% include "header.html" %} {% endif %}
		{% block content %}
		{% endblock content %}
	</body>
</html>
